header {
  border-bottom: 10px solid #cccccc;
}

header img {
  float:left;
}

header ul {
  width: 300px;
  padding-left: 0px;
  position:relative;
  margin-right: 0px;
  margin-left: 100%;
  right: 300px;
  bottom: 50px;
  display: inline-block;
}

header ul li {
  list-style-type: none;
  display: inline-block;
}

header h2, header h5 {
  width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

h2, h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}

html, body {
  font-family: verdana;
  font-size: 12px;
  color: #444444;
  margin: 100px;
}

h1 {
  margin-bottom: 0px;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  color: #000000;
}

section p {
  text-indent: 20px;
}

h2 {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  color: #000000;
}

h3 {
  color: #000000;
}

h5 {
  font-family: 'Droid Sans';
  font-size: 10px;
  color: #aaaaaa;
}

section li {
  list-style:
  font-size: 16px;
}

button {
  background-color: #cc6655;
  color: #ffffff;
  border: none;
  padding: 15px 40px;
  float: right;
  margin-top: 20px;
}

footer {
  border-top: 10px solid #cccccc;
}

img#authorpic {
  margin-right: 10px;
  margin-top: 20px;
  float: left;
}

img#footerlogo {
  margin-top: -10px;
  margin-bottom: 20px;
  width: 20px;
  opacity: .5;
}

img#bigimg {
  margin-top: 15px;
}

div#footerdiv {
  border-top: 1px solid #eeeeee;
  margin-top: 100px;
  clear: both;
  text-align: center;
}

span#footerspan {
  background-color: #ffffff;
  padding: 20px;
}

#printer {
  float: right;
}
